@model IEnumerable<BeyazMasa.Entity.Concrete.Duyurular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistem.cshtml";
}

<div class="container-fluid text-center">

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Duyurular Tablosu
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Başlık</th>
                            <th scope="col">Eklenme Tarihi</th>
                            <th scope="col">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">@item.Id</th>
                            @if (item.Baslik.Length > 20)
                            {
                            <td>@item.Baslik.Substring(0,20)</td>
                            }
                            else
                            {
                                <td>@item.Baslik</td>
                            }
                            <td>@item.Tarih</td>
                            <td>
                                <a href="/SistemDuyurular/Guncelle/@item.Id" class="btn btn-outline-success"><i class="fas fa-pen-alt"></i> Güncelle</a>
                                <a href="/SistemDuyurular/Sil/@item.Id" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Sil</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Son Güncelleme Tarihi : @DateTime.Now</div>

    </div>
</div>


